# Sample env file for yeeturl

# The MongoDB URL you want to use to store data.
# Format: mongodb://[username:password@]host1[:port1][,...hostN[:portN]][/[defaultauthdb][?options]]
# Easier to understand format:
# mongodb://username:password@database.com:port/databaseName
# mongodb://user:password@database.com:27018/yeeturl
MONGODB_URL="mongodb://127.0.0.1:27017/yeeturl"

# This will make sure it's really needed to use dotenv. Don't touch this, and see lines 2 and 3 in index.js for more details.
YURL_TEST=""

# The port on which the app will run.
# Don't go below 1024 unless you are running the app as root (don't do that!)
# The default is 3000. If you need to change this, uncomment the line below (remove the #) and change the port.
#PORT=3000

# See https://expressjs.com/en/advanced/best-practice-performance.html#set-node_env-to-production
NODE_ENV="production"
