/* Circular buttons */
.btn-circle {
	border-radius: 99rem !important;
}

/* Centered buttons */
button {
	margin: 0 auto;
	display: block;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hidden {
	display: none;
}

.overflow-break {
  overflow-wrap: break-word;
}